

.home-first-silder-img{
    width: 100%;
    object-fit: cover;
    height: 90%;
}
.swiper-pagination-bullet{
    width: 6px !important;
    height: 6px !important;
}
.swiper-pagination-bullet-active{
    background-color: black !important;
    width: 15px !important;
    border-radius: 5px !important;

}


.home-first-slider-loader-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45vh;
    background: white;
}
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid;
    border-color: black transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 